.chatbot-nav-color{
    background-color: #00a99d !important;
    text-align: left;
}

.botTitle{
    text-decoration: none !important;
    float: left !important;
}

.close{
    color: white !important;
    font-weight: 100 !important;
    margin-top: 10% !important;
    opacity: 100% !important;
}

.chtbot{
    background-color: #f0f0f0 !important;
    position: sticky;
}

.bot{
    float: right;
    text-align: left;
}