.center-text{
    text-align: center;
    margin-left: 8%;
}

.bckgr{
    font-size: 1.3em;
}

.display-5{
    padding-left: 5%;
    padding-right: 5%;
}

.lead{
    padding: 5%;
}

.background-about{
    background-color: #343a40;
    color: white;
    padding: 5%
}

