
.imageClass{
  width: 100% !important;
  object-fit: cover !important;
  height: 300px !important;
}
.imageClassBig{
  width: 100% !important;
  object-fit: cover !important;
  height: 600px !important;
}

.image{
  margin: 0 auto !important;
}

.container-fluid{
  margin: 0 auto;
  padding: 0 !important;  
}

.row{
  margin-top: 1rem !important;
}

.half{
  width: 100%;
  height: 30rem;
}

.text{
  color: white;
}

.lead{
  font-weight: 400 !important;
  text-shadow: 1px 1px 1px black;
}

.lead2{
  font-weight: 400 !important;
  font-size: 1.25rem;
}


@media (min-width: 768px){
  .position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-light.fix {
    margin: 0 !important;
}
}

@media (min-width: 768px){
  .d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3 {
    margin: 0 !important;
    padding: 0 !important;
}
}

@media (min-width: 768px){
  .bg-dark.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden.half {
    margin: 0 !important;
    padding: 0 !important;
}
}

@media (min-width: 768px){
  .bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden.half{
    margin: 0 !important;
    padding: 0 !important;
}
}

