/*nav{
    z-index: 99999;
    background-color: white !important;
}*/

nav ul a{
    color: rgba(255,255,255,.5) !important;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    display: block !important;
    padding: .5rem 1rem !important;
    text-decoration: none !important;
}

.navbar-nav{
    background-color: #343a40 !important;
    line-height: 48px;
    z-index: 999999 !important;
    
}

.navbar-collapse{
    z-index: 999999 !important;
}

.navbar{
    line-height: 0px;
}

/*Admin*/


