.select{
    display: inline !important;
    width: 20%;
    height: 4%;
    margin-left: 5px;
  
}
.select2{
    display: inline-flex !important;
    width: 15%;
    margin-left: 5px;
    
  
}

.test{
    margin-bottom: 2%;
}

.btn-danger{
    background-color: red !important;
    margin-left: 5%;
}

.form-check-input{
    opacity: 100% !important;
    pointer-events: all !important;
}