.signup-container{
    background-image: url('./images/man-person-cute-young.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

.form-control{
    background-color: white !important;

}

input{
    padding-left: 5% !important;
}


